@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Berkshire+Swash&family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  header {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #167544;
    font-weight: bold;
    font-size: 36px;
}

#gameboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

#gameboard input[type=radio] {
  display: none;
}

#gameboard label {
  display: block;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
#gameboard input[type=radio]:checked + label {
  background-color: #ccc;
}

body {
   background-color: #FFE2E5;
}


body {
   background-color: #FFE2E5;
}

  .couch {
    background-image: url('../images/pipivycouch.svg');
   
  }
  
  .bed {
     background-image: url('../images/pipIvyBed.svg');
  }

  .plants {
    background-image: url('../images/pipIvyplants.svg');
  }

  .counter{
    background-image: url('../images/pipIvyCounter.svg');
  }

  .window{
    background-image: url('../images/windowpipivy.svg');
  }

 /* .water-bowl{

  }

  .food-bowl{

  }

  .bean-bag{
    background-image: url('../images/beanBag.svg');
    
  }

  .litter-box{

  }

  .closet{

  }

  .bathroom-door{

  } */

  

  