@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Berkshire+Swash&family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  header {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #167544;
    font-weight: bold;
    font-size: 36px;
}

#gameboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}
.object {
  border: 2px solid black;
  padding: 10px;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 {
  margin: 0;
  font-size: 1.2rem;
}
select {
  margin-top: 20px;
  font-size: 1.2rem;
}



body {
   background-color: #FFE2E5;
}

  .couch {
    background-image: url('../images/pipivycouch.svg');
   
  }
  
  .bed {
     background-image: url('../images/pipIvyBed.svg');
  }

  .plants {
    background-image: url('../images/pipIvyplants.svg');
  }

  .counter{
    background-image: url('../images/pipIvyCounter.svg');
  }

  .window{
    background-image: url('../images/windowpipivy.svg');
  }

  .water-bowl{

  }

  .food-bowl{

  }

  .bean-bag{
    background-image: url('../images/beanBag.svg');
    
  }

  .litter-box{

  }

  .closet{

  }

  .bathroom-door{

  }

  
  #gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    margin: 50px auto;
    max-width: 800px;
  }
  
  #gameboard > div {
    border: 1px solid #333;
    width: 150px;
    height: 200px;
    background-color: white;
    position: relative;
    overflow: hidden;
  }
  