@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Berkshire+Swash&family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  @media screen and (max-width: 768px) {
    header {
      font-size: 30px;
      padding: 5px 10px;
    }
  }
  header strong {
    font-size: 30px;
    text-transform: uppercase;
    background-color: #D1F3C8;
    border: 2px #167544;
    border-style: double;
    border-radius: 30px;
    padding: .5rem;
  }

  header {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #167544;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    letter-spacing: 8px;
    display: block;
    margin-top: 20px;
  }


#catChoice img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto;
  border-color: #167544;
  padding: 40px; 
}

#catChoice legend {
  background-color: #FDF9B4;
  padding: 1rem;
  border: 2px solid #F9C374;
  border-radius: 1rem;
  color: #F9C374;
}


#index-page #gameboard {
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: block;

}

#gameboard {
  display: center;
  
  justify-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  

}


  #catChoice {
    display: flex;
    justify-content: center;
    letter-spacing: 4px;
    font-family: 'Alice', serif;
    color: #167544;
    border: none;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  
  }


  #catChoice a {
    display: flex;
    background-color: #167544;
    border-color: #D1F3C8;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    width: 60px;
    height: 40px;
    margin-top: 50px;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: sticky;
  
  }

  a[href="gameStart.html"] {
  display: flex;
  background-color: #167544;
  border-color: #D1F3C8;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-align: center;
  position: center;
  margin:0 auto;

} 





#gameboard label {
  margin-top: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 20rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
  background-color: #D1F3C8;
  background-size: contain;
  background-position: center center;
}

#gameboard input[type=radio]:checked + label {
  background-color: green;
}

body {
   background-color: #FFE2E5;
}


.startGameObjects #gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}





.couch {
  background-image: url('../images/pipivycouch.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: contain;
  object-fit: cover;
  display: inline;
}


  
  .bed {
     background-image: url('../images/pipIvyBed.svg');
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
  }

  .plants {
    background-image: url('../images/pipIvyplants.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .counter{
    background-image: url('../images/pipIvyCounter.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .window{
    background-image: url('../images/windowpipivy.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .waterBowl{
    background-image: url('../images/waterbowl.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .foodBowl{
    background-image: url('../images/foodbowl.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }


  .beanBag{
    background-image: url('../images/beanBag.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }

  .litterBox{
    background-image: url('../images/litterbox1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .closet{
    background-image: url('../images/closet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .bathroomDoor{
    background-image: url('../images/bathroomdoor.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  } 

  

  