/* ===== YOUR CSS GOES HERE ===== */
/* ===== START WITH GLOBAL STYLES THEN USE MEDIA QUERIES FOR LAYOUT ADJUSTMENTS ===== */

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Berkshire+Swash&family=Roboto&display=swap');

body {
    background-color: #FFE2E5;
  }

fieldset {
  border: 25px solid #FDF9B4;
  border-radius: 10px;
  padding: px;
  margin-bottom: 20px;
  background-color: none;
}

legend {
  font-weight: bold;
  color: #167544;
  font-size: 36px;
  text-align: center;
}

input[type="radio"] {
  margin-right: 10px;
}

label {
  color: #167544;
}

button {
  background-color: #F9C374;
  border: none;
  color: #FFFFFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Alice', serif;
}

button:hover {
  background-color: #FDF9B4;
}

#catChoice {
  border: 4px solid #FEBDC6;
  border-bottom-left-radius: 0px 0px;
  border-bottom-right-radius: 0px 20px;
  border-top-left-radius: 25;
  border-top-right-radius: 25;
  padding: 20px;
  font-family: 'Berkshire Swash', cursive;
}

#catChoice input[type="radio"] {
  display: none;
}

#catChoice label {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#catChoice #catChoicePip + label {
  background-image: url('./images/Piploaf.png');
}

#catChoice #catChoiceIvy + label {
  background-image: url('./images/ivyloaf.png');
}

#catChoice label {
  font-size: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pipChoices {
    margin: 20px;
    border: none;
  }
  
  legend {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
    color: #167544;
    font-weight: bold;
    font-size: 36px;
  }
  
  #pipChoiceCouch {
    position: fixed;
    top: 200px;
    left: 40px;
  }
  
  #pipChoiceBed {
    position: fixed;
    top: 400px;
    left: 700px;
  }
  
  #pipChoiceFoodBowl {
    position: fixed;
    top: 800px;
    left: 50px;
  }
  
  #pipChoiceWaterBowl {
    position: fixed;
    top: 790px;
    left: 50px;
  }
  
  #pipChoiceKitchenCounter {
    position: fixed;
    top: 800px;
    left: 300px;
  }
  
  #pipChoiceLitterBox {
    position: fixed;
    top: 800px;
    left: 700px;
  }
  
  #pipChoiceBeanBag {
    position: fixed;
    top: 200px;
    left: 700px;
  }
  
  #pipChoicePlants {
    position: fixed;
    top: 360px;
    left: 270px;
  }
  
  #pipChoiceBathroomDoor {
    position: fixed;
    top: 180px;
    left: 500px;
  }
  
  #pipChoiceWindow {
    position: fixed;
    top: 450px;
    left: 40px;
  }
  
  #pipChoiceCloset {
    position: fixed;
    top: 800px;
    left: 500px;
  }

  
  
  #ivyChoiceCouch {
    position: fixed;
    top: 200px;
    left: 40px;
  }
  
  #ivyChoiceBed {
    position: fixed;
    top: 400px;
    left: 700px;
  }
  
  #ivyChoiceFoodBowl {
    position: fixed;
    top: 800px;
    left: 50px;
  }
  
  #ivyChoiceWaterBowl {
    position: fixed;
    top: 790px;
    left: 50px;
  }
  
  #ivyChoiceKitchenCounter {
    position: fixed;
    top: 800px;
    left: 300px;
  }
  
  #ivyChoiceLitterBox {
    position: fixed;
    top: 800px;
    left: 700px;
  }
  
  #ivyChoiceBeanBag {
    position: fixed;
    top: 200px;
    left: 700px;
  }
  
  #pipChoicePlants {
    position: fixed;
    top: 360px;
    left: 270px;
  }
  
  #ivyChoiceBathroomDoor {
    position: fixed;
    top: 180px;
    left: 500px;
  }
  
  #ivyChoiceWindow {
    position: fixed;
    top: 450px;
    left: 40px;
  }
  
  #ivyChoiceCloset {
    position: fixed;
    top: 800px;
    left: 500px;
  }
  